header {
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  /* background: #ccc; */
}

input {
  width: 90%;
  height: 51px;
  margin: 20px 30px 20px 1px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 30px;
}

body {
  margin: 0px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
}

.container .fa-star {
  color: grey;
}

.main-container {
  margin: 0px;
  text-align: left;
  margin-left: 20px;
}

.main-container2 {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.favoritesStyle {
  background-color: #f0fffc;
}

.favContent {
  display: flex;

  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  padding-left: 0px;
}

button {
  background-color: #0a8a68; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 24px; */
  margin-right: 1px;
  cursor: pointer;
  height: 52px;
  width: 53px;
  /* padding-top: 8px; */
  padding-bottom: 10px;
  padding-right: 15px;

  border-radius: 2px;
}

.titleMargin {
  overflow: hidden;
  white-space: nowrap;

  padding-left: 15px;
}

.favoritesStyle .fa-star {
  color: green;
}

.fi-magnifying-glass {
  font-size: 40px;
}
.favoritesStyle h2 {
  color: green;
  font-size: 35px;
}

.ionicons {
  -ms-transform: rotate(90deg); /* Internet Explorer 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 10px;
}

/*    G R A D I E N T   */
.wrap {
  width: 100%;
  text-align: center;
  /* margin: 0; */
  padding: 0.25em 0.825em;

  background: rgba(31, 100, 156, 1);
  background: -moz-linear-gradient(
    left,
    rgba(31, 100, 156, 1) 0%,
    rgba(19, 125, 26, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(31, 100, 156, 1)),
    color-stop(100%, rgba(19, 125, 26, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(31, 100, 156, 1) 0%,
    rgba(19, 125, 26, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(31, 100, 156, 1) 0%,
    rgba(19, 125, 26, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(31, 100, 156, 1) 0%,
    rgba(19, 125, 26, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(31, 100, 156, 1) 0%,
    rgba(19, 125, 26, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f649c', endColorstr='#137d1a', GradientType=1 );
}
