header {
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  /* background: #ccc; */
}

input {
  width: 90%;
  height: 40px;
  margin: 20px 30px 20px 1px;
  border: 1px solid grey;
  border-radius: 4px;
}

body {
  margin: 0px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.container .fa-star {
  color: grey;
}

.main-container {
  margin: 0px;
  text-align: center;
}

.main-container2 {
  margin-left: 20px;
}

.container {
  display: flex;

  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.favContent {
  display: flex;

  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.favoritesStyle {
  background-color: #d6fff1;
}

button {
  background-color: #0a8a68; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-right: 1px;
  cursor: pointer;
  height: 43px;
  width: 43px;
  padding-bottom: 10px;

  border-radius: 2px;
}

.titleMargin {
  overflow: hidden;
  white-space: nowrap;
}

.favoritesStyle .fa-star {
  color: green; /* change me to green*/
}

.favoritesStyle h2 {
  color: green;
  font-family: "Roboto", sans-serif;
}

/*    G R A D I E N T   */
.wrap {
  width: 100%;
  text-align: center;
  /* margin: 0; */
  padding: 0.25em 0.825em;

  background: rgba(3, 59, 107, 1);
  background: -moz-linear-gradient(
    left,
    rgba(3, 59, 107, 1) 0%,
    rgba(3, 59, 107, 1) 31%,
    rgba(19, 125, 26, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(3, 59, 107, 1)),
    color-stop(31%, rgba(3, 59, 107, 1)),
    color-stop(100%, rgba(19, 125, 26, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(3, 59, 107, 1) 0%,
    rgba(3, 59, 107, 1) 31%,
    rgba(19, 125, 26, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(3, 59, 107, 1) 0%,
    rgba(3, 59, 107, 1) 31%,
    rgba(19, 125, 26, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(3, 59, 107, 1) 0%,
    rgba(3, 59, 107, 1) 31%,
    rgba(19, 125, 26, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(3, 59, 107, 1) 0%,
    rgba(3, 59, 107, 1) 31%,
    rgba(19, 125, 26, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033b6b', endColorstr='#137d1a', GradientType=1 );
}
